.App {
  text-align: center;
  background-image: url('https://cdn.dribbble.com/users/1398114/screenshots/6610828/tomato_texture_web_2x.jpg');
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  align-items: center;
}

.main-container {
  width: 30%;
  background-color: white;
  border-radius: 30px;
  margin: auto;
  flex-direction: column;
  padding: 30px;
}
